@import "../../global/variables.scss";
@import "../../global/mixins.scss";

.Home {
    min-height: calc(100vh - 100px);
    padding: 60px 0 150px;

    &-blockSlide {
        width: 100%;
        height: 400px;
        position: relative;
    }

    &-right {
        position: absolute;
        z-index: 2;
        width: 40%;
        background-color: $orange;
        height: 100%;
        right: 0;
        top: 0;
        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        color: white;
        display: flex;

        &>span {
            margin-left: 8rem;
            margin-top: 3rem;
            font-size: 20px;

            &>h1 {
                font-size: 45px;
            }

            @include tablet-portrait {
                margin-left: 5rem;
                &>h1 {
                    font-size: 30px;
                }
            }
        }

        @include mobile-landscape {
            display: none;
        }
    }
}

.Carousel {
    width: 70%;
    height: 100%;
    border: 1px solid;
    padding: 0% !important;

    @include mobile-landscape {
        width: 100%;
    }

    &-img {
        width: 100%;
        height: 100%;

        >img {
            width: 100%;
            height: 100%;
        }
    }
}

.HeaderSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;

    &-title {
        font-size: 22px;
        color: var(--black-700);
        font-weight: bold;

        @include tablet-portrait {
            font-size: 18px;
        }
    }

    &>a {
        color: rgb(3, 67, 216);
        font-size: 14px;
        text-decoration: underline;
        white-space: nowrap;
    }

    &>span {
        font-size: 13px;
        font-style: italic;
        margin-right: 20%;
        color: $orange;

        @include mobile-landscape {
            display: none;
        }
    }
}

.ProductSection {
    &-h1 {
        font-size: 22px;
        font-weight: bold !important;
        margin: auto;
        width: max-content;
    }

    &-groupProduct {
        gap: 1.5rem;
        margin: 4rem 0;
        padding: 0;

        @include mobile-portrait {
            gap: 1rem;
        }

        .CardProduct{
            width: 100%;
            transition: 0.4s;
            grid-column-end: span 3;
            margin: 0;

            @include tablet-portrait {
                grid-column-end: span 4;
            }

            @include mobile-landscape {
                grid-column-end: span 6;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        .CardProduct-percentReduce {
            display: none !important;
        }
    }

    &-btnSeeMore {
        font-size: 14px;
        font-weight: 700px;
        margin: auto;
        width: max-content;
        background-color: $black-700;
        height: 34px;
        border-radius: 4px;

        >a {
            text-decoration: underline;
            color: white;
            padding: 0 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            >svg {
                font-size: 1.5rem;
                margin-left: 6px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.BannerContact {
    height: 300px;
    background: url(../../assets/images/images.jpeg);
    background-size: contain;
    margin-top: 100px;

    &-text {
        color: white;
        font-size: 20px;
        margin-bottom: 1rem;
    }

    &-btnContact {
        height: 50px;
        background-color: $green-800;
        border-radius: 50px;

        >a {
            height: 100%;
            padding: 0 2rem;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-backgroundShadow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.408);
    }
}

.PromoProduct {
    &-groupProduct {
        .CardProduct {
            background-color: $orange;
            border: 2px solid $orange;
            border-radius: 4px;
    
            &-nameProd {
                color: white;
            }
            &-priceProd {
                color: white;

                &>span {
                    color: white;
                }
            }
            &-groupBtn {
                display: none;
            }
        }
    }
}