@import "../../global/variables.scss";
@import "../../global/mixins.scss";

// eslint-disable-next-line
.Header {
  width: 100%;
  position: relative;

  &-top {
    background-color: $black;
    height: 100px;
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 5 / span 9;
    position: relative;

    @include tablet-landscape {
      grid-column: 4 / span 9;
    }

    @include tablet-portrait {
      grid-column: 10 / span 3;
      flex-direction: row-reverse;
     }
  }

  &-logo {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    color: white;

    >b {
      color: $orange;
      font-size: 25px;
      margin-left: 10px;
      font-weight: 500;
    }

    >span {
      font-family: "gabriela";
      font-size: 20px;
    }
  }
}

.MenuNav {
  background-color: $black-700;
  height: auto;

  &-ul {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &-li {
    border-left: 1px solid rgb(113, 113, 113);
    height: 40px;

    &:last-child {
      border-right: 1px solid rgb(113, 113, 113);
    }
  }

  &-link {
    height: 100%;
    color: $whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0 4rem;
    transition: 0.3s;
    white-space: nowrap;

    @include tablet-portrait {
      padding:  0 2rem;
     }

     @include mobile-portrait {
      padding:  0 10px;
      font-size: 13px;
     }

    &:hover,
    &:focus {
      background-color: $orange;
    }
  }
}

.SearchForm {
  display: flex;
  align-items: center;
  height: 40px;

  >input {
    width: 480px;
    height: 100%;
    border: none;
    background-color: $black-700;
    padding: 0 1rem;
    color: whitesmoke;

    @include tablet-landscape {
      width: 400px;
    }

    @include tablet-portrait {
     display: none;
    }

    &:focus {
      outline: 1px solid $orange;
    }

    &::placeholder {
      color: rgb(196, 196, 196);
    }
  }

  &-submit {
    background-color: $orange;
    height: 100%;
    width: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    >svg {
      height: auto;
      width: 50%;
      color: white;
    }

    @include tablet-portrait {
      display: none;
     }
  }

  &-submit2 {
    background: none;
    border: none;
    display: none;
    margin-left: 2rem;

    >svg {
      height: auto;
      width: 22px;
      color: $orange;
    }

    @include tablet-portrait {
      display: block;
     }
  }
}

.CartBox {
  &-infosCart {
    margin-right: 12px;
    height: 40px;
    justify-content: space-between;

    &>span {
      color: white;
      font-size: 13px;
      white-space: nowrap;
    }

    &>b {
      font-size: 13px;
      color: white;
      white-space: nowrap;
    }
  } 

  &-openCart {
    background: none;
    position: relative;
    border: none;

    >img {
      width: 40px;
      height: auto;

      @include tablet-portrait {
        width: 30px;
       }
    }

    >span {
      font-size: 18px;
      position: absolute;
      top: -20%;
      left: 100%;
      color: $orange;
    }
  }
}

.FormSearchMobile {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.649);
  z-index: 10001;

  &.open {
    display: flex;
  }
  
  .SearchForm {
    min-height: 50px;
  
    &>input {
      width: 480px;
      height: 100%;

      @include tablet-portrait {
       display: block;
       width: 300px;
      }
    }
  
    &-submit {
      background-color: $orange;
      height: 100%;
      width: 50px;
  
      >svg {
        height: auto;
        width: 50%;
        color: white;
      }
  
      @include tablet-portrait {
        display: block !important;
       }
    }
  }
  
}