@import '../../global/variables.scss';
@import '../../global/mixins.scss';

.Footer {
    background-color: $black;
    padding: 2.6rem 0 0;

    @include tablet-portrait {
        padding: 1.5rem 0 0 ;
    }

    &-block {
        border-right: 1px solid rgb(66, 66, 66);

        &:nth-child(2) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tablet-portrait {
                justify-content: start;
            }
        }

        &:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-right: none;

            @include tablet-portrait {
                align-items: start;
                flex-direction: column;
                justify-content: start;

                &>span {
                    margin-bottom: 10px;
                }
            }
        }

        &>span {
            color: $whitesmoke;
            font-size: 14px;
        }

        &:nth-child(1) {
            grid-column: 1 / span 4;
        }

        &:nth-child(2) {
            grid-column: 5 / span 4;
        }

        &:nth-child(3) {
            grid-column: 9 / span 4;
        }

        @include tablet-portrait {
            margin-bottom: 20px;
            grid-column:inherit !important;
            grid-column-end: span 12 !important;
            border-right: none;
        }
    }

    &-ul>li {
        color: $whitesmoke;

        &>a {
            color: $whitesmoke;
            font-size: 14px;
            text-decoration: underline;

            &-hover {
                text-decoration: none;
            }
        }
    }

    &-li {
        display: flex;
        align-items: center;
        color: rgb(221, 221, 221);

        &:nth-child(1) {
            margin-bottom: 15px;
        }

        &,
        &>a {
            color: $whitesmoke;
            font-size: 14px;

            &>a {
                text-decoration: underline;
            }

            &>img {
                width: 25px;
                height: auto;
                margin-right: 20px;

                @include tablet-portrait {
                    width: 22px;
                }
            }
        }
    }

    &-groupSocial {
        display: flex;
        align-items: center;

        &>li {
            margin: 0 10px;

            &>a>img {
                width: 20px;
                height: auto;
            }
        }
        @include tablet-portrait {
            align-items: start;

            &>li {
                margin: 0 16px 0 0;

                &>a>img {
                    width: 20px;
                    height: auto;
                }
            }
        }
    }

    &-copyright {
        text-align: center;
        border-top: 1px solid rgb(66, 66, 66);
        margin-top: 40px;
        padding: 20px 0;

        &>p {
            color: white;
            font-size: 14px;
        }

        @include tablet-portrait {
            margin-top: 15px;
        }
    }
}